<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<span th:fragment="header">
			<form action = "/ForList" method = "GET">
				<input type="submit" id = "returnBtn" class="button_design" value="戻る">
			</form>
			<h1 class="GatherWise">GatherWise</h1>
		</span>
		
		
		<span th:fragment="mtg_header">
			<form action = "/ForList" method = "GET">
				<input type="submit" id = "returnBtn" class="button_design" value="戻る">
			</form>
			
			<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
			<h1 class="GatherWise">GatherWise</h1>
		</span>
		
		
		<span th:fragment="mtg_sub_header">
			<form action = "forMenu" method = "POST">
			  	<input type="submit" id = "returnBtn" class="button_design" value="戻る">
			  	<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
			</form>
			
			<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
			<h1 class="GatherWise">GatherWise</h1>
		</span>
	</body>
</html>