<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link rel="stylesheet" href="css/home.css">

</head>
<body>
	
	<div class="header">
  		<!-- ログアウト -->
  		<form action = "logout" method = "GET" id = "designForm">
  			<input type="submit"  class="button_design" value="ログアウト">
  		</form>
  		<h1 class="GatherWise">GatherWise</h1>
  	</div>
  	
  	<div class="container">
  <div class="soon_mtg_list">
 
      <details class="details"  th:each = "obj : ${Mlist}">
	     <summary class="details-summary" th:text = "${obj.mtg_title}"><a href= "meetingList.html" ><font color="#FFFFFF">会議1</font></a></summary>
	     <form action = "forMenu" method = "post">
	      	<p class="details-content">
	          <input type="text" th:value = "${obj.mtg_title}"><br>
	        日時：<input type="text" th:value = "${obj.mtg_date}"><br>
	        参加者：<input type="text" th:value = "${obj.mtg_member}"><br>
	        概要：<input type="text" th:value = "${obj.mtg_topic}">
	        <input type = "hidden" name = "no" th:value = "${obj.mtg_id}">
	        <!-- indMeetingController.javaでデータ受け渡し --> 
	        <input type = "submit" value = "個別メニューへ">
        </form>
      </details>
      
	</div>
      <div class="chapter">
      <!-- メール遷移 -->
      <a href="@{/homeToMail}" class="invite"><img src="image/mail.png"/></a>
      <!-- 会議追加 -->
      <a th:href="@{/addMtg}" class="add_mtg_btn"> <img src="image/plus.jpeg"/></a>
      <br>
      </div>
      <!-- 会議一覧へ -->
      	<form action = "/ForList" method = "GET">
	      <input type="submit" class="move_mtg_list_btn" name = "/ForList" value="会議一覧">
	    </form>
     </div>
</body>
</html>