<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>案内メール画面</title>
<link rel="stylesheet" href="css/invite.css">
<link rel="stylesheet" href="css/fragment.css">
</head>
<body>
	<!-- 会議メニューへ戻る -->
	<div class="header">
		<div id="mtg_sub_header" th:replace="fragment :: mtg_sub_header"></div>
		<div id = "title"> 
			<h2 id = "mtg_title" th:text = "${Mselect.mtg_title}"></h2>
		</div>
	</div>
	
	<form action = "mRegist" method = "post">
		<div class="container">
			<!-- 保存完了メッセージ -->
  			<h2 th:text = "${saveText}"></h2>
  			
			<!-- 案内メール本文 -->
			<h1>案内メール</h1>
			<p> 　件名　：<input type="text" th:value = "${mTitle}"></p>
			<p>	　会社名：<input type="text"></p>
			<p>	　名前　：<input type="text" th:value = "${Mselect.mtg_writer}"></p>

			<p>	　平素よりお世話になっております。</p>
			<p>	　宛先社名：<input type="text" class=""></p>
			<p>	■お打ち合わせの詳細</p>
			<p>	　日時：<input type="text" th:value = "${Mselect.mtg_date}"></p>
			<p>	　場所：<input type="text" th:value = "${Mselect.mtg_place}"></p>
			<p>	　住所：<input type="text"></p>
			<p>	　議題：<input type="text" th:value = "${Mselect.mtg_title}"></p>
			<p>	　内容：<input type="text" th:value = "${Mselect.mtg_topic}"></p>
			<p>	　　　：<input type="text"></p>
			<p>	　　　：<input type="text"></p>
			<p>	　弊社参加予定者：<input type="text" size="7">名</p>
			<p>	　添付資料：<input type="text"></p>
			<p>	　なお、ご不明な点や質問されたい事項がございましたら、</p>
			<p>	　私、<input type="text" size="15" th:value = "${Mselect.mtg_writer}">までお知らせくださいませ。</p>
			<p>	　当日、ご多用のところご足労をお願いいたしまして大変恐縮ではございますが、</p>
			<p>	　何卒宜しくお願い申し上げます。</p>
			<p>　　　　　　　　　　　　　　　　　　　　　　　　</p>
			<p>	　以上、どうぞよろしくお願いいたします。</p>
			<p>	　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>
			<p>	　署名:<input type="text"></p>
			<p>	　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>
		</div>
		<!-- ここまで -->
		
		<div class="button-container">
		<!-- button -->
		<button name="send_mail_btn">添付資料追加</button>
		
		<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
		<input type = "hidden" name = "pageText" th:value = "invite">
	    <input type = "submit" class = "save" value = "保存">
		
		<button name="attache_data_btn">Gmailへ移動</button>
		<!-- ここまで -->
		</div>
	</form>
</body>
</html>