<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" href="css/login.css">
	</head>
	
	<body>
		<div class="container">
			<h1>ログイン</h1>
			  
			<form action= "login" method="post">
				<h5 th:text = "${errorText}" style = "color: red;"></h5>
				<p>会社ID</p>
				<input type="text" name="compny_id">
				<p>ユーザー名</p>
				<input type="text" name="user_name">
				<p>パスワード</p>
				<input type="password" name="user_pass"><br>
				<input type = "submit" class="move_home_btn" name = "login" value="ログイン">
				 <!-- 
				<input type = "submit"class="move_home_btn" value="ログイン">
			 	-->
			</form>
			
			
		</div>
	</body>
</html>
