<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会議メニュー</title>
    <link rel="stylesheet" href="css/meetingMenu.css">
    <link rel="stylesheet" href="css/fragment.css">
</head>
<body>
	<div class="header">
		<div id="mtg_header" th:replace="fragment :: mtg_header"></div>
		<div id = "title"> 
			<h2 id = "mtg_title" th:text = "${Mselect.mtg_title}"></h2>
		</div>
	</div>
<!-- indMeetingController.javaでデータ受け渡し --> 
    <div class="container">
    	
            <div class="div1">
            	<p></p>
                <a>会議前</a><br>
                <p></p>
                
                <form action = "before" method = "post">
                	<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
                	<input type ="submit" class="menu-mini" value = "案内メール" name = "mail">
                	<input type ="submit" class="menu-mini" value = "アジェンダ" name = "agenda">
                </form>
            </div>
            
            <div class="div2">
            	<p></p>
                <a>会議中</a><br>
                <p></p>
                <a href="meeting.html" class="menu-rokuon">録音</a><br/>
                <a href="meeting.html" class="menu-araato">アラート</a>

            </div>
            <div class="div3">
            	<p></p>
                <a>会議後</a><br>
                <p></p>
                
                <form action = "after" method = "post">
                	<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
                	<input type ="submit" class="menu-mini" value = "議事録" name = "minutes">
                </form>
            </div>
            
        <footer>
        </footer>
    </div>
</body>
</html>
