<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>議事録</title>
<link rel="stylesheet" href="css/minutes.css">
<link rel="stylesheet" href="css/fragment.css">
</head>
<body>
	<!-- 会議メニューへ戻る -->
	<div class="header">
		<div id="mtg_sub_header" th:replace="fragment :: mtg_sub_header"></div>
		<div id = "title"> 
			<h2 id = "mtg_title" th:text = "${Mselect.mtg_title}"></h2>
		</div>
	</div>

  <div class="container">
  	<!-- 保存完了メッセージ -->
  	<h2 id = "saveText" th:text = "${saveText}"></h2>
  	
    <div class="scroll">
    <div class="border">
    
    <form action = "mRegist" method = "post" id = "mForm">
    
	    <div class="creator">作成者：<input type="text" th:value = "${Mselect.mtg_writer}" class="border2" size="10"></div>
	    <div class="title">議事録</div>
	    <div class="info">
	      <div class="info-item">
	        日時：
	        <input type="date" id="mtg_date" name="mtg_date" th:value = "${day}">
	          <input type="time" id="mtg_date" name="mtg_date" th:value = "${Mselect.mtg_time}">
	      </div>
	      <div class="info-item">
	        場所：<input type="text" name="mtg_place" th:value = "${Mselect.mtg_place}" class="border2" size="10">
	      </div>
	      <div class="info-item">
	        出席者：<input type="text" name="mtg_place" th:value = "${Mselect.mtg_member}" class="border2" size="10">
	      </div>
	    </div>
	    <div class="content">
	      <div class="section">
	        <div class="section-title">＜議事内容＞
	          <input type="submit" form = "upload" value="ファイルをアップロード">
	        </div>
	        <textarea name="mtg_outline"  th:text = "${testText}" rows="5" class="section-text"></textarea>
	      </div>
	      
	      
	    </div>
	    
	       <input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
	       <input type = "hidden" name = "pageText" th:value = "minutes">
	       
       </form>
       
       <form action = "upload" method = "post" id = "upload">
       		<input type = "hidden" name = "no" th:value = "${Mselect.mtg_id}">
       </form>
       
    </div>
    
    
    <div class="save_btn">
		
      <input type = "submit" class = "save" form = "mForm" value = "保存">
    </div>
    </div>
  </div>
</body>
</html>
